.list {
  margin-top: 32px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
body {
  background-color: #f5f5f5;
}
.item {
  padding: 12px 20px;
  background-color: #fff;
  border: 1px solid #ddd;
  display: flex;
  list-style-type: none;
  justify-content: space-between;
  border-radius: 8px;
  align-items: center;
  cursor: pointer;
  transition-duration: 0.2s;
}
.item:hover {
  transform: translateY(-4px);
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
}
.content {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.todo_content {
  font-size: 18px;
  font-weight: 500;
}
.badge1 {
  padding: 4px 12px;
  border-radius: 12px;
  font-weight: 500;
  font-size: 12px;
  background-color: var(--color1);
  color: #fff;
}
.badge2 {
  padding: 4px 12px;
  border-radius: 12px;
  font-weight: 500;
  font-size: 12px;
  background-color: #aaa;
  color: #fff;
}
.detail_content {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.detail_content > li {
  display: flex;
  flex-direction: column;
}
.detail_btns {
  display: flex;
  gap: 12px;
  justify-content: space-between;
}
.detail_btns > button {
  flex-grow: 1;
  border: none;
  padding: 10px;
  color: #fff;
  background-color: var(--color1);
  border-radius: 8px;
}
